<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Demo Serve-side rendering</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="alert alert-success mt-5" >
                <h4 class="alert-heading">Demo Serve-side rendering !!!</h4>
                <hr>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="https://quangdang-196507.web.app"> Page demo ....</a></li>
                    <li class="list-group-item"><a href="https://gitlab.com/quangdt93/airtrip">Git repos</a></li>
                    <li class="list-group-item">Server: NodeJS</li>
                    <li class="list-group-item">ReactJS render server-side</li>
                    <li class="list-group-item">Firebase: hosting, functions, realtime database</li>
                    <li class="list-group-item">Webpack</li>
                </ul>
                <hr>
                <p class="mb-0 text-center">Created by: QuangDT 0975575262 quang.dt.na@gmail.com</p>
            </div>
            <div id="Root"></div>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="./user.js"></script>
    </body>
</html>
